:root {
  --light: #ffffff;
  --dark: #000000;
}

* {
  box-sizing: border-box;
}

footer,
header,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

ol,
ul {
  list-style: none;
}

body {
  height: 100vh;
  font-family: "Tektur", cursive;
}

.header,
.footer {
  font-size: 2rem;
  letter-spacing: 1.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  border: 2px solid var(--dark);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.game-container__buttons {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 20px;
}

button {
  border: 2px solid var(--dark);
  background-color: var(--light);
  padding: 15px 5px;
  font-size: larger;
  font-weight: 400;
  font-family: inherit;
  width: 100px;
}

.header,
.footer span {
  padding: 10px;
}

.footer span {
  font-size: 1rem;
}

.game-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.game-container__cell {
  display: grid;
  width: 95%;
  max-width: 600px;
}

.cell {
  height: calc(100vw / 50);
  max-height: 15px;
  width: auto;
  border: 1px solid #00000085;
}

button:hover {
  cursor: pointer;
}

.icon {
  width: 20px;
  height: 20px;
}

path {
  width: 20px;
  height: 20px;
  fill: black;
}

@media screen and (max-width: 360px) {
  .game-container__buttons {
    flex-direction: column;
  }
}
